registry=https://registry.npmjs.org/
@radjaiqbalsh:registry=https://npm.pkg.github.com/
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_password=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
//registry.npmjs.org/:username=radjaiqbalsh
//registry.npmjs.org/:email=radjaiqbal.harahap@gmail.com
//registry.npmjs.org/:always-auth=false
