registry=https://registry.npmjs.org/radjaiqbalsh
@radjaiqbalsh:registry=https://npm.pkg.github.com/radjaiqbalsh
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
